# Backend variables (no VITE_ prefix)
SUPABASE_URL=https://rvpovttuxyniysadizck.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2cG92dHR1eHluaXlzYWRpemNrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY3ODI1OTQsImV4cCI6MjA3MjM1ODU5NH0.PFsOEbD_5Sojljpcpo-9T9zHKDqG5J3aeDc_LTDzp4I
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2cG92dHR1eHluaXlzYWRpemNrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Njc4MjU5NCwiZXhwIjoyMDcyMzU4NTk0fQ.jBXVQ_FACwQkCXi9kw3SAC1GIQtXIDMfFqH24avYACY

# Frontend variables (VITE_ prefix required)
VITE_SUPABASE_URL=https://rvpovttuxyniysadizck.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2cG92dHR1eHluaXlzYWRpemNrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY3ODI1OTQsImV4cCI6MjA3MjM1ODU5NH0.PFsOEbD_5Sojljpcpo-9T9zHKDqG5J3aeDc_LTDzp4I

# Other backend variables
XENDIT_CALLBACK_TOKEN=ZnKNrjGKxd7mMR4NhN0t4mJJFm1TouPL6SJH23G2e0YyNiu9
XENDIT_SECRET_KEY=xnd_development_fRmsIhmd74TDVZccENJAjPSYHgFGVTFKv1dl564oU5rc8cczLmuQTeS3O9O4
RESEND_API_KEY=re_8Jfk7dnE_NytFi8MMdiHCMwb8vYRA4ngE

# Frontend API URL
VITE_API_URL=https://coduxa.vercel.app